@import url(./normalize.css);

@font-face {
  font-family: oldNewspaper;
  src: url(font/OldNewspaperTypes.ttf);
}

:root {
  font-size: 62.5%; /* To turn 1rem into 10px */
  --pink-bg-color: rgb(228 171 152);
  --pink-main-bg-color: rgb(247, 207, 192);
  --black-font-color: #000000c4;
  --shadow: 1px 2px 4px rgba(0, 0, 0, 0.51);
  --red-delete-color: rgb(203, 68, 74);
}

* {
  box-sizing: border-box;
}

/* Big container */
body {
  font-size: 1.6rem; /* To turn 1rem into 10px */
  font-family: American Typewriter, serif, Arial;
  color: var(--black-font-color);
}

.container {
  min-height: 100vh;
  display: grid;
  grid-template-rows: fit-content(10%) auto;
}

header {
  display: flex;
  padding: 0 3rem 0 2rem;
  justify-content: space-between;
  align-items: center;
  background-color: var(--pink-bg-color);
  box-shadow: var(--shadow);
  position: relative;
  z-index: 2;
  min-width: 55rem;
}

.top {
  display: flex;
  gap: 1.2rem;
}

h1 {
  font-size: 3.5rem;
  text-decoration: underline;
  cursor: default;
  user-select: none
}

.top.right {
  gap: 2rem;
}

a {
  color: white;
  text-decoration: none;
}


.left img {
  transition: 0s 0.3s;
  cursor: pointer;
}

button {
  background-color: var(--pink-bg-color);
  border-color: var(--pink-bg-color);
}

.right button {
  border: solid 1px;
  cursor: pointer;
}

header, .right button, .open-button{
  color: white;
} 

/* Main */
main{
  padding: 6rem;
  background-color: var(--pink-main-bg-color);
}

#LibContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  gap: 2rem;
  align-content: flex-start;   /* To set auto height rows, sizing to content  */
  position: relative;
}

/* Cards(books) */
.example {
  border: solid;
  background-image: url(imgs/kiwihug-bin-YwxUJ4s-unsplash.jpeg);
  font-family: oldNewspaper, American Typewriter, serif;
  padding: 1rem 1rem 0 1rem;
  margin-bottom: 6px;
  font-size: 1.8rem;
  border: 2px outset;
  border-radius: 8px;
}

.classDiv {
  background-image: url(imgs/kiwihug-bin-YwxUJ4s-unsplash.jpeg);
  padding: 0.6rem 1.5rem 0rem 0.6rem;
  border: 2px outset;
  border-radius: 8px;
  position: relative;
  overflow: auto;
}

span {
  display: block;
  font-family: oldNewspaper, American Typewriter, serif;
  margin-bottom: 8px;
  font-size: 1.85rem;
  letter-spacing: 0.2px;
  text-transform: capitalize;
}

span:nth-child(6n) {
  margin-bottom: 1.5rem;
}

/* Form */
main nav {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -250px; /* Negative half of height. */
  margin-left: -150px; /* Negative half of width. */
  border: 3px solid;
  z-index: 2;
  background-color: white;
  overflow: auto;
  border-color: var(--pink-bg-color);
}

.formClass {
  max-width: 30rem;
  padding: 3rem 1rem 1rem 1rem;
}

input[type=text], input[type=number] {
  width: 100%;
  padding: 1rem;
  margin: 5px 0 2rem 0;
  border: none;
  background: #f1f1f1;
  background-image: url(./imgs/kiwihug-bin-YwxUJ4s-unsplash.jpeg);
  font-family: oldNewspaper, American Typewriter, serif;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 5px 0 2rem 0;
}

/* Buttons */
.open-button {
  position: fixed;
  bottom: 2%;
  right: 2%;
  padding: 0;
  width: 6vmin;
  height: 6vmin;
  min-width: 3.5rem;
  min-height: 3.5rem;
  font-size: 2.6rem;
  cursor: pointer;
  border-radius: 50%;
  transition: 0.1s ease;
}

.closeButton{
  position: absolute;
  right: 1rem;
  top: 1rem;
  cursor: pointer;
  border-radius: 50%;
  padding: 3px 6px;
  color: white;
}

.btns {
  display: flex;
  justify-content: space-between;
}

.btns button {  
  padding: 1em 2em;
  cursor: pointer;
  opacity: 0.9;
  color: white;
}

.deleteBookClass {
  position: absolute;
  right: 0.6rem;
  bottom: 8px;
  border-radius: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  max-width: 16rem;
  color: white;
  padding: 4px 6px;
}

.toggleBtnClass {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  color: white;
  cursor: pointer;
  position: relative;
  width: 45%;
  max-width: 16rem;
  font-size: 1.7rem;
  margin-bottom: 8px;
  padding: 4px 6px;
}

/* PseudoClasses effects */
.top img:active, .right button:active {
transform: scale(1.2);
transition: 0s;
}

.open-button:hover, .btns button:hover, .closeButton:hover {
  background-color: rgb(238, 175, 151);
  border-color: rgb(238, 175, 151);
}

.btns button:hover {
  opacity: 1;
}

.open-button:active {
  transform: rotate(90deg);
}

.closeButton:hover {
  color: var(--red-delete-color);
  border-color: var(--red-delete-color);
  background-color: white;
}

.deleteBookClass:hover {
  background-color: var(--red-delete-color);
  border-color: var(--red-delete-color);
  transform: scale(1.05);
  box-shadow: rgb(0 0 0 / 10%) 0px 10px 15px -3px, rgb(0 0 0 / 5%) 0px 4px 6px -2px;
}

.toggleBtnClass:hover {
  background: none;
  border-color: #FAA4A4;
  transform: scale(1.05);
  color: rgb(223 131 100);
  box-shadow: rgb(0 0 0 / 10%) 0px 10px 15px -3px, rgb(0 0 0 / 5%) 0px 4px 6px -2px;
}

