@import url(./normalize.css);

@font-face {
  font-family: oldNewspaper;
  src: url(font/OldNewspaperTypes.ttf);
}

:root {
  font-size: 62.5%; /* To turn 1rem into 10px */
  --pink-bg-color: rgb(228 171 152);
  --pink-main-bg-color: rgb(247, 207, 192);
  --black-font-color: #000000c4;
  --shadow: 1px 2px 4px rgba(0, 0, 0, 0.51);
}

* {
  box-sizing: border-box;
}

/* Big container */
body {
  font-size: 1.6rem; /* To turn 1rem into 10px */
  font-family: American Typewriter, serif, Arial;
  color: var(--black-font-color);
}

.container {
  min-height: 100vh;
  display: grid;
  grid-template-rows: fit-content(10%) auto;
}

header {
  display: flex;
  padding: 0 2rem;
  justify-content: space-between;
  align-items: center;
  grid-area: 1 / 1 / 2 / 1;
  background-color: var(--pink-bg-color);
  box-shadow: var(--shadow);
  position: relative;
  z-index: 2;
}

.top {
  display: flex;
  gap: 1rem;
}

h1 {
  font-size: 3.5rem;
  text-decoration: underline;
}

.top.right {
  gap: 2rem;
}

.left img {
  display: flex;
  align-self: center;
}

button {
  background-color: var(--pink-bg-color);
  border-color: var(--pink-bg-color);
}

.right button {
  border: solid 1px;
}

header, .right button, .open-button{
  color: white;
} 

/* Main */
main{
  padding: 2rem;
  background-color: var(--pink-main-bg-color);
}

#LibContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(23rem, 1fr));
  gap: 2rem;
  align-content: flex-start;   /* To set auto height rows, sizing to content  */
  position: relative;
}

.open-button {
  position: fixed;
  bottom:2rem;
  right: 2rem;
  padding: 1.2rem 2rem;
  width: 20rem;
  cursor: pointer;
}

/* Cards(books) */
.example {
  border: solid;
  background-image: url(imgs/kiwihug-bin-YwxUJ4s-unsplash.jpeg);
  font-family: oldNewspaper, American Typewriter, serif;
  padding: 1rem 1rem 0 1rem;
  margin-bottom: 6px;
  font-size: 1.8rem;
  border: 2px outset;
  border-radius: 8px;
}

.classDiv {
  background-image: url(imgs/kiwihug-bin-YwxUJ4s-unsplash.jpeg);
  padding: 1rem 1rem 0 1rem;
  border: 2px outset;
  border-radius: 8px;
}

span {
  display: block;
  font-family: oldNewspaper, American Typewriter, serif;
  margin-bottom: 8px;
  font-size: 1.9rem;
  letter-spacing: 0.2px;
  text-transform: capitalize;
}



/* Form part */
main nav {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -250px; /* Negative half of height. */
  margin-left: -150px; /* Negative half of width. */
  border: 3px solid;
  z-index: 2;
  background-color: white;
  overflow: auto;
}

.formClass {
    max-width: 30rem;
    padding: 1.5rem 1rem 1rem 1rem;
}

input[type=text], input[type=number] {
  width: 100%;
  padding: 1rem;
  margin: 5px 0 2rem 0;
  border: none;
  background: #f1f1f1;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 5px 0 2rem 0;
}

.btns {
  display: flex;
  justify-content: space-between;
}

.btns button {  
  padding: 1em 2em;
  cursor: pointer;
  opacity: 0.8;
}

.open-button:hover, .btns button:hover {
  background-color: rgb(238, 175, 151);
  border-color: rgb(238, 175, 151);
}

.btns button:hover {
  opacity: 1;
}



